.left {
  width: 100px;
  position: fixed;
  background: #172566;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.left .container {
  padding: 17px;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #cccccc;
}
.content-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003060;
  padding: 8rem 12rem 3rem 15rem;
}
.balance {
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 40px;
  text-align: left;
  color: white;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 12rem 3rem 15rem;
}
img {
  width: 37px;
}
.logo {
  width: 60px;
  display: block;
}
.assets {
  padding-top: 40px;
  margin: 0;
}
.dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
main button {
  color: rgb(0, 140, 255);
  background-color: unset;
  border: unset;
}
main button:hover {
  color: rgb(0, 140, 255);
}
.button {
  font-size: 25px;
}
.assets>p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: unset;
  text-align: left;
}
.table-container {
  display: block;
  max-width: 1170px;
}
.flex-table:first-of-type {
  border: unset;
}
.header {
  margin: unset!important;
}
.flex-table {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  padding: 10px;
  transition: .5s;
}
.flex-row, .flex-row-1 {
  font-size: 18px;
  padding: 0.7em;
  text-align: right;
}
.flex-row, .flex-row-1 {
  width: 20%;
}
.flex-row:first-of-type, .flex-row-1:first-of-type {
  text-align: left !important;
  width: 35%;
}
.flex-table .flex-row.balance1 {
  width: 12%;
}
.flex-table .flex-row.type {
  width: 24%;
}
.flex-table .flex-row.interest {
  width: 29%;
}
.modal-dialog {
  color: black !important;
}
.deposit > div {
  margin-top: 10px;
  margin-bottom: 30px;
}
#react-confirm-alert {
  z-index: 9999999;
}
.react-confirm-alert-body {
  z-index: 111111111111111111111111;
}
.navbar {
  padding: 1rem !important;
}
.navbar-brand {
  color: white !important;
}

main a{
  padding: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}