@font-face {
  font-family: 'Helvetica';
  src: url('./assets/Helvetica-Font-Family/Helvetica-Bold.ttf');
}
body {
  margin: 0;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  padding: var(--bs-gutter-x,6rem)!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
